


.registrazione-main {

    width:max-content;
    margin-bottom:200px;
}

.titolo-registrazione {

    position:relative;
    left:50px;
}

.form-registrazione {

    border: 1px solid rgb(0, 247, 255);
    margin-left:100px;
    background-color:rgb(0, 247, 255);
    padding-top:40px;
    padding-bottom:40px;
    padding-right: 40px;
    width: max-content;

    

  
}



#dati-personali {

    margin-bottom:40px;
}

.elenco-form {

    margin-top:25px;
    margin-bottom:20px;
    margin-left:40px;
    width: max-content;

      
}

.avvisi {

    display:flex;
    justify-content: space-evenly;
    color:red;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size:20px;  
    margin-left:40px;
    position:relative;
    bottom:20px;
 
}

.avviso {

    
    position:relative;
    bottom:20px;
   

   
   
}

#avv1 {
    position:relative;
    right: 15px;
    
}

#avv2 {
    position:relative;
    left:73px;
}

#avv3 {
    position:relative;
    left:20px
}

#avv4 {

    position:relative;
    left:120px;
}

#avv5 {

    position:relative;
    left:10px;
    
}

#avv6 {

    position:relative;
    left:110px;
}

#avv7 {

    position:relative;
    right:205px;
}

#avv8 {

    position:relative;
    left:20px;
}

#avv9 {

    position:relative;
    left:95px;
   
}

#avv10 {

    margin-right: 300px;
  
}

#avv11 {

    margin-right: 240px;

}

#avv12 {

    margin-right: 550px;
}



.input-form {

    font-size:25px;
    margin-left:15px;
    border-color: white;
}


.lab {

    margin-left:25px;
    
}

textarea {
    color:white;
}
#inp-email, #inp-pass {

    width:400px;
}
 

.titolo-registrazione {

    font-size:70px;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    color:rgb(0,0,255);

}


#messaggio {

    margin-left:26px;
    margin-bottom:40px;
}

.registrazione {
    width:180px;
    height: 50px;
    font-size:25px;
    background-color:green;
    border-color:green;
    color:white;
    margin-left: 420px;
}

#dati-personali {

    padding-left:20px;
    
}

#aut {

    margin-left:10px;
}

.registrazione {

    width:180px;
    height: 50px;
    font-size:25px;
    background-color:green;
    border-color:green;
    color:white;
    position:relative;
    right: 50px;
}