
.vini {
    
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width:500px;
    margin-top:60px;
    
   
}

h4, p  {

    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
  
}

.acquista {

    width:180px;
    height: 50px;
    font-size:25px;
    background-color:green;
    border-color:green;
    color:white;
    
}

#inc, #dec, #reset {

    margin:10px;
    background-color:blue;
    border-color:blue;
    color:white;
}

#mess, #mess2 {


    font-size:20px;
    color: red;
    font-family: cursive ;
}

     

     

